/*
 * dkehrig.show-whitespace whitespace colors template.
 */

/* Light theme */
.CodeMirror .cm-dk-whitespace-space:before { background-color: <%= light.whitespace %>; }
.CodeMirror .cm-dk-whitespace-tab:before { color: <%= light.whitespace %>; }
.CodeMirror .cm-dk-whitespace-leading-space:before { background-color: <%= light.leading %>; }
.CodeMirror .cm-dk-whitespace-leading-tab:before { color: <%= light.leading %>; }
.CodeMirror .cm-dk-whitespace-empty-line-space:before { background-color: <%= light.empty %>; }
.CodeMirror .cm-dk-whitespace-empty-line-tab:before { color: <%= light.empty %>; }
.CodeMirror .cm-dk-whitespace-trailing-space:before { background-color: <%= light.trailing %>; }
.CodeMirror .cm-dk-whitespace-trailing-tab:before { color-color: <%= light.trailing %>; }

/* Dark theme */
.dark .CodeMirror .cm-dk-whitespace-space:before { background-color: <%= dark.whitespace %>; }
.dark .CodeMirror .cm-dk-whitespace-tab:before { color: <%= dark.whitespace %>; }
.dark .CodeMirror .cm-dk-whitespace-leading-space:before { background-color: <%= dark.leading %>; }
.dark .CodeMirror .cm-dk-whitespace-leading-tab:before { color: <%= dark.leading %>; }
.dark .CodeMirror .cm-dk-whitespace-empty-line-space:before { background-color: <%= dark.empty %>; }
.dark .CodeMirror .cm-dk-whitespace-empty-line-tab:before { color: <%= dark.empty %>; }
.dark .CodeMirror .cm-dk-whitespace-trailing-space:before { background-color: <%= dark.trailing %>; }
.dark .CodeMirror .cm-dk-whitespace-trailing-tab:before { color: <%= dark.trailing %>; }

